In [5]:
import pymysql

# your username and password go here!
creds = {'user': 'brian', 
         'pswd': 'farley'} 


connection = pymysql.connect(host="atriskwiki.cbprs6vpqcbz.us-west-1.rds.amazonaws.com",
                            user=creds['user'],
                            password=creds['pswd'],
                            port=3306,
                            db="atriskwiki",
                            charset="utf8")

cur = connection.cursor()

In [6]:
import pandas as pd

In [7]:
getCoreDates = "SELECT page_id, page_info_pulled, page_touched FROM core"
cur.execute(getCoreDates)
core_dates = pd.DataFrame(list(cur.fetchall()),columns=['page_id','page_info_pulled','page_touched'])

In [8]:
getMentionedDates = "SELECT * from current_events"
cur.execute(getMentionedDates)
mentioned_dates = pd.DataFrame(list(cur.fetchall()),columns=['page_id','medianDate','mostRecentDate'])

In [12]:
dates = pd.merge(core_dates,mentioned_dates,on='page_id')

In [13]:
dates

         page_id  page_info_pulled    page_touched  medianDate mostRecentDate
0             25    20160709000000  20160705210334  2013-03-22     2013-03-22
1            290    20160709000000  20160709170824  2014-05-28     2015-05-11
2            307    20160709000000  20160709073542  1862-02-06     1999-06-28
3            308    20160709000000  20160708133344        None           None
4            316    20160719000000  20160717042830        None           None
5            572    20160719000000  20160716032534        None           None
6            594    20160709000000  20160704191912        None           None
7            615    20160719000000  20160717004623        None           None
8            620    20160709000000  20160705100358  1945-08-24     2009-07-17
9            621    20160719000000  20160717192413        None           None
10           624    20160709000000  20160708072835  1959-01-03     2015-07-01
11           628    20160709000000  20160705100358  1962-03-30     2009-04-09
12           655    20160709000000  20160704191912        None           None
13           662    20160709000000  20160709150440  2006-09-23     2013-07-20
14           664    20160709000000  20160708093048  2001-05-06     2013-06-08
15           689    20160709000000  20160709102923  2008-08-14     2011-07-26
16           691    20160709000000  20160707220128  1778-11-01     1789-03-04
17           700    20160719000000  20160718170246  1824-06-07     1860-09-21
18           717    20160719000000  20160716032534  2014-09-10     2015-07-01
19           734    20160719000000  20160716032534  2009-11-15     2013-02-02
20           736    20160709000000  20160709215749  1921-04-02     2016-02-11
21           737    20160709000000  20160708100600  2008-05-04     2014-12-28
22           740    20160709000000  20160704191912        None           None
23           752    20160709000000  20160705100358        None           None
24           765    20160709000000  20160706033202        None           None
25           783    20160709000000  20160709013527  2015-10-01     2015-10-01
26           791    20160719000000  20160718034407  2013-09-20     2015-03-06
27           800    20160709000000  20160707175718  1958-07-14     1958-07-14
28           803    20160719000000  20160718044933        None           None
29           808    20160719000000  20160718201020  1954-06-03     1980-05-10
...          ...               ...             ...         ...            ...
133173  51091252    20160719000000  20160717022621  1961-06-10     1961-06-10
133174  51091328    20160719000000  20160718045213  1964-08-17     1964-08-17
133175  51091550    20160719000000  20160718050308        None           None
133176  51092256    20160719000000  20160718132024  2015-08-03     2015-08-03
133177  51092694    20160719000000  20160718093312        None           None
133178  51093744    20160719000000  20160717103122  1994-11-19     1994-11-19
133179  51093965    20160719000000  20160717111139        None           None
133180  51095029    20160719000000  20160718124333  2016-01-04     2016-06-23
133181  51095733    20160719000000  20160717184248  2012-06-21     2012-06-21
133182  51096098    20160719000000  20160717203514        None           None
133183  51096390    20160719000000  20160718180245        None           None
133184  51096414    20160719000000  20160717203514        None           None
133185  51097030    20160719000000  20160718190036        None           None
133186  51097120    20160719000000  20160718202934  1971-12-09     2015-07-12
133187  51097912    20160719000000  20160718140131  1979-07-02     1979-12-27
133188  51098561    20160719000000  20160718134740        None           None
133189  51099118    20160719000000  20160718013449        None           None
133190  51100454    20160719000000  20160718035506  2010-05-06     2010-05-06
133191  51101162    20160719000000  20160718103743        None           None
133192  51101460    20160719000000  20160718094632  2012-04-15     2012-04-15
133193  51102110    20160719000000  20160718152301  2016-07-18     2016-07-18
133194  51102592    20160719000000  20160718124825        None           None
133195  51103467    20160719000000  20160718202335        None           None
133196  51105617    20160719000000  20160718193236  1857-05-10     1857-05-10
133197  51105871    20160719000000  20160718213740        None           None
133198  51106337    20160719000000  20160718201448  2005-10-05     2005-12-09
133199  51106355    20160719000000  20160718200525        None           None
133200  51106579    20160719000000  20160718223602        None           None
133201  51106996    20160719000000  20160718234716        None           None
133202  51107865    20160719000000  20160719000705  2016-07-22     2016-07-22

[133203 rows x 5 columns]

In [21]:
import datetime

def WikiDateToDate(date_int):
    date_int = str(date_int)
    year = date_int[:4]
    month = date_int[4:6]
    day = date_int[6:8]
    return datetime.date(int(year),int(month),int(day))

(WikiDateToDate(dates['page_info_pulled'][0]) - WikiDateToDate(dates['page_touched'][0])) / datetime.timedelta(days=1)

4.0

In [25]:
dates['days_since_touch'] =  ((dates['page_info_pulled'].apply(WikiDateToDate) -
                              dates['page_touched'].apply(WikiDateToDate))
                              / datetime.timedelta(days=1))

In [27]:
dates['days_since_touch'] = dates['days_since_touch'].astype(int)

In [33]:
def NullableMedianDiff(x):
    if x['medianDate'] is None:
        return None
    else:
        return ((WikiDateToDate(x['page_info_pulled']) - x['medianDate']) / datetime.timedelta(days=1))
    
def NullableMostRecentDiff(x):
    if x['mostRecentDate'] is None:
        return None
    else:
        return(((WikiDateToDate(x['page_info_pulled'])) - x['mostRecentDate']) / datetime.timedelta(days=1))

In [34]:
dates['days_since_median'] = dates.apply(NullableMedianDiff, axis=1)
dates['days_since_most_recent'] = dates.apply(NullableMostRecentDiff, axis=1)

In [39]:
def MedianWithinMonth(x):
    if x['days_since_median'] is None:
        return 0
    elif x['days_since_median'] > 0 and x['days_since_median'] <= 30:
        return 1
    else:
        return 0
    
def MedianWithinWeek(x):
    if x['days_since_median'] is None:
        return 0
    elif x['days_since_median'] > 0 and x['days_since_median'] <= 7:
        return 1
    else:
        return 0

def MedianInFuture(x):
    if x['days_since_median'] is None:
        return 0
    elif x['days_since_median'] < 0:
        return 1
    else:
        return 0
    
def NoDates(x):
    if x['medianDate'] is None:
        return 1
    else:
        return 0
    
def MostRecentWithinMonth(x):
    if x['days_since_most_recent'] is None:
        return 0
    elif x['days_since_most_recent'] > 0 and x['days_since_most_recent'] <= 30:
        return 1
    else:
        return 0
    
def MostRecentWithinWeek(x):
    if x['days_since_most_recent'] is None:
        return 0
    elif x['days_since_most_recent'] > 0 and x['days_since_most_recent'] <= 7:
        return 1
    else:
        return 0 

def MostRecentInFuture(x):
    if x['days_since_most_recent'] is None:
        return 0
    elif x['days_since_most_recent'] < 0:
        return 1
    else:
        return 0

In [40]:
dates['noDates'] = dates.apply(NoDates,axis=1)
dates['medianWithinMonth'] = dates.apply(MedianWithinMonth,axis=1)
dates['medianWithinWeek'] = dates.apply(MedianWithinWeek,axis=1)
dates['medianInFuture'] = dates.apply(MedianInFuture,axis=1)
dates['mostRecentWithinMonth'] = dates.apply(MostRecentWithinMonth,axis=1)
dates['mostRecentWithinWeek'] = dates.apply(MostRecentWithinWeek,axis=1)
dates['mostRecentInFuture'] = dates.apply(MostRecentInFuture,axis=1)

In [45]:
dates[dates['mostRecentInFuture'] == 1]

,page_id,page_info_pulled,page_touched,medianDate,mostRecentDate,days_since_touch,days_since_median,days_since_most_recent,noDates,medianWithinMonth,medianWithinWeek,medianInFuture,mostRecentWithinMonth,mostRecentWithinWeek,mostRecentInFuture
231,4314,20160709000000,20160707131524,1998-10-20,2017-02-04,2,6472.0,-210.0,0,0,0,0,0,0,1
457,7463,20160709000000,20160705100358,1991-06-30,2016-09-22,4,9141.0,-75.0,0,0,0,0,0,0,1
601,9770,20160719000000,20160717012657,2282-01-16,3340-11-30,2,-96970.0,-483715.0,0,0,0,1,0,0,1
935,14810,20160709000000,20160705203658,2002-03-16,2016-10-02,4,5229.0,-85.0,0,0,0,0,0,0,1
992,15782,20160709000000,20160709063132,1814-11-01,2016-10-24,0,73665.0,-107.0,0,0,0,0,0,0,1
1018,16027,20160709000000,20160705103007,2008-09-04,2016-11-19,4,2865.0,-133.0,0,0,0,0,0,0,1
1074,16768,20160709000000,20160708181856,2003-03-19,2016-08-05,1,4861.0,-27.0,0,0,0,0,0,0,1
1084,16882,20160719000000,20160717103932,1949-07-12,2016-10-31,2,24479.0,-104.0,0,0,0,0,0,0,1
1167,18119,20160709000000,20160710003852,1998-03-12,2016-07-10,-1,6694.0,-1.0,0,0,0,0,0,0,1
1209,18787,20160709000000,20160707235126,2010-11-10,2016-08-20,2,2068.0,-42.0,0,0,0,0,0,0,1
1278,19545,20160719000000,20160716095152,2008-07-20,2038-01-19,3,2921.0,-7854.0,0,0,0,0,0,0,1
1288,19643,20160709000000,20160704191912,3102-02-18,3102-02-18,5,-396511.0,-396511.0,0,0,0,1,0,0,1
1293,19694,20160709000000,20160709153945,2011-03-18,2133-12-03,0,1940.0,-42880.0,0,0,0,0,0,0,1
1307,19961,20160709000000,20160707181806,2010-01-23,2017-02-01,2,2359.0,-207.0,0,0,0,0,0,0,1
1398,21211,20160709000000,20160709194800,1920-10-03,2016-11-21,0,34978.0,-135.0,0,0,0,0,0,0,1
1403,21247,20160709000000,20160708042051,1966-09-12,2019-07-20,1,18198.0,-1106.0,0,0,0,0,0,0,1
1425,21473,20160709000000,20160709170824,1909-11-16,2043-01-07,0,38952.0,-9678.0,0,0,0,0,0,0,1
1447,21728,20160709000000,20160709221138,2012-11-14,2016-07-30,0,1333.0,-21.0,0,0,0,0,0,0,1
1571,23745,20160709000000,20160707081045,2011-03-10,2016-11-18,2,1948.0,-132.0,0,0,0,0,0,0,1
1600,24113,20160709000000,20160707220151,2007-08-20,2017-01-20,2,3246.0,-195.0,0,0,0,0,0,0,1
1774,26678,20160709000000,20160708051752,2013-01-25,2018-05-25,1,1261.0,-685.0,0,0,0,0,0,0,1
1800,26940,20160709000000,20160709124715,2011-01-02,2019-07-19,0,2015.0,-1105.0,0,0,0,0,0,0,1
1805,26994,20160709000000,20160709132511,1921-10-24,2021-05-06,0,34592.0,-1762.0,0,0,0,0,0,0,1
1831,27441,20160710000000,20160703184941,1973-11-02,2016-08-27,7,15591.0,-48.0,0,0,0,0,0,0,1
1852,27717,20160709000000,20160704191912,2009-04-14,2016-12-27,5,2643.0,-171.0,0,0,0,0,0,0,1
2144,32497,20160719000000,20160718134105,1974-08-24,2016-09-10,1,15305.0,-53.0,0,0,0,0,0,0,1
2161,32736,20160710000000,20160708072841,2008-06-09,2038-01-19,2,2953.0,-7863.0,0,0,0,0,0,0,1
2257,34513,20160709000000,20160704191912,2164-04-29,2955-05-23,5,-53985.0,-342915.0,0,0,0,1,0,0,1
2364,37168,20160709000000,20160704191912,1676-10-13,2100-02-28,5,124086.0,-30549.0,0,0,0,0,0,0,1
2370,37287,20160719000000,20160717210946,2010-07-11,2018-09-21,2,2200.0,-794.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131838,50344450,20160709000000,20160709185439,2016-06-22,2016-07-27,0,17.0,-18.0,0,1,0,0,0,0,1
131846,50349131,20160710000000,20160709042557,2016-07-30,2016-07-30,1,-20.0,-20.0,0,0,0,1,0,0,1
131891,50373658,20160719000000,20160715190622,2017-04-29,2017-05-06,4,-284.0,-291.0,0,0,0,1,0,0,1
131942,50406586,20160719000000,20160718095317,2016-07-20,2016-10-16,1,-1.0,-89.0,0,0,0,1,0,0,1
132125,50518395,20160719000000,20160718192617,2016-06-22,2017-06-30,1,27.0,-346.0,0,1,0,0,0,0,1
132170,50544506,20160709000000,20160709155501,2016-05-31,2016-07-29,0,39.0,-20.0,0,0,0,0,0,0,1
132193,50555773,20160710000000,20160710170135,2016-05-13,2016-07-28,0,58.0,-18.0,0,0,0,0,0,0,1
132240,50583919,20160719000000,20160718112149,2016-12-30,2017-06-30,1,-164.0,-346.0,0,0,0,1,0,0,1
132258,50592430,20160719000000,20160718175226,2016-12-30,2017-06-30,1,-164.0,-346.0,0,0,0,1,0,0,1
132386,50660143,20160719000000,20160718231200,2016-07-20,2016-08-31,1,-1.0,-43.0,0,0,0,1,0,0,1
132451,50695688,20160719000000,20160716231004,2016-07-16,2017-05-27,3,3.0,-312.0,0,1,1,0,0,0,1
132476,50706905,20160719000000,20160718083142,2016-10-01,2016-10-01,1,-74.0,-74.0,0,0,0,1,0,0,1
132721,50847646,20160710000000,20160701173926,2016-09-19,2016-09-19,9,-71.0,-71.0,0,0,0,1,0,0,1
132725,50850778,20160719000000,20160716155802,2017-01-08,2017-06-02,3,-173.0,-318.0,0,0,0,1,0,0,1
132782,50884643,20160719000000,20160707223651,1962-04-15,2959-07-27,12,19819.0,-344431.0,0,0,0,0,0,0,1
132785,50885357,20160719000000,20160718155655,2016-08-01,2016-08-01,1,-13.0,-13.0,0,0,0,1,0,0,1
132843,50916115,20160719000000,20160718150619,2017-02-04,2017-06-18,1,-200.0,-334.0,0,0,0,1,0,0,1
132844,50916613,20160719000000,20160718012244,2016-07-17,2017-05-27,1,2.0,-312.0,0,1,1,0,0,0,1
132881,50936627,20160710000000,20160629151408,2016-06-29,2016-09-04,11,11.0,-56.0,0,1,0,0,0,0,1
132882,50937494,20160719000000,20160705220525,2016-09-22,2017-03-04,14,-65.0,-228.0,0,0,0,1,0,0,1
132918,50955624,20160710000000,20160710183010,2011-05-21,2016-10-15,0,1877.0,-97.0,0,0,0,0,0,0,1
132991,50994679,20160719000000,20160705101850,2016-11-30,2016-11-30,14,-134.0,-134.0,0,0,0,1,0,0,1
133003,50998698,20160719000000,20160708053024,2016-04-26,2016-11-08,11,84.0,-112.0,0,0,0,0,0,0,1
133062,51026098,20160719000000,20160718104420,2016-07-22,2016-07-22,1,-3.0,-3.0,0,0,0,1,0,0,1
133073,51030494,20160719000000,20160709015811,2016-07-04,2016-08-22,10,15.0,-34.0,0,1,0,0,0,0,1
133133,51059095,20160719000000,20160717123208,2015-11-29,2016-07-22,2,233.0,-3.0,0,0,0,0,0,0,1
133158,51078429,20160719000000,20160718140131,2016-09-17,2016-09-17,1,-60.0,-60.0,0,0,0,1,0,0,1
133160,51081154,20160719000000,20160718215454,2016-10-14,2017-04-22,1,-87.0,-277.0,0,0,0,1,0,0,1
133161,51082361,20160719000000,20160718222046,2018-11-06,2018-11-06,1,-840.0,-840.0,0,0,0,1,0,0,1
133202,51107865,20160719000000,20160719000705,2016-07-22,2016-07-22,0,-3.0,-3.0,0,0,0,1,0,0,1

In [46]:
forPush = dates[['page_id','days_since_touch','noDates','medianWithinMonth','medianWithinWeek','medianInFuture',
                'mostRecentWithinMonth','mostRecentWithinWeek','mostRecentInFuture']]

In [48]:
recordsForDTF = forPush.to_dict(orient="records")

In [58]:
def chunk(l,n):
    for i in range(0,len(l),n):
        yield l[i:i+n]

chunks = chunk(recordsForDTF,1000)

In [59]:
import datetime
DTFinsert = "INSERT INTO date_time_features({}) VALUES {}"

for ix, chunk in enumerate(chunks):
    now = datetime.datetime.now().time()
    print("[{:02d}:{:02d}:{:02d}] inserting chunk {}".format(now.hour,now.minute,now.second,ix))
    cols = list(chunk[0].keys())
    valstring = []
    for record in chunk:
        values = [str(x) for x in list(record.values())]
        valstring.append("({})".format(",".join(values)))
    insertme = DTFinsert.format(",".join(cols),",".join(valstring))
    cur.execute(insertme)
    connection.commit()

[14:59:54] inserting chunk 0
[14:59:54] inserting chunk 1
[14:59:54] inserting chunk 2
[14:59:55] inserting chunk 3
[14:59:55] inserting chunk 4
[14:59:55] inserting chunk 5
[14:59:55] inserting chunk 6
[14:59:55] inserting chunk 7
[14:59:55] inserting chunk 8
[14:59:55] inserting chunk 9
[14:59:55] inserting chunk 10
[14:59:55] inserting chunk 11
[14:59:55] inserting chunk 12
[14:59:55] inserting chunk 13
[14:59:55] inserting chunk 14
[14:59:55] inserting chunk 15
[14:59:56] inserting chunk 16
[14:59:56] inserting chunk 17
[14:59:56] inserting chunk 18
[14:59:56] inserting chunk 19
[14:59:56] inserting chunk 20
[14:59:56] inserting chunk 21
[14:59:56] inserting chunk 22
[14:59:56] inserting chunk 23
[14:59:56] inserting chunk 24
[14:59:56] inserting chunk 25
[14:59:56] inserting chunk 26
[14:59:56] inserting chunk 27
[14:59:56] inserting chunk 28
[14:59:56] inserting chunk 29
[14:59:56] inserting chunk 30
[14:59:56] inserting chunk 31
[14:59:56] inserting chunk 32
[14:59:57] inserting chunk 33
[14:59:57] inserting chunk 34
[14:59:57] inserting chunk 35
[14:59:57] inserting chunk 36
[14:59:57] inserting chunk 37
[14:59:57] inserting chunk 38
[14:59:57] inserting chunk 39
[14:59:57] inserting chunk 40
[14:59:57] inserting chunk 41
[14:59:57] inserting chunk 42
[14:59:57] inserting chunk 43
[14:59:57] inserting chunk 44
[14:59:57] inserting chunk 45
[14:59:57] inserting chunk 46
[14:59:57] inserting chunk 47
[14:59:57] inserting chunk 48
[14:59:57] inserting chunk 49
[14:59:58] inserting chunk 50
[14:59:58] inserting chunk 51
[14:59:58] inserting chunk 52
[14:59:58] inserting chunk 53
[14:59:58] inserting chunk 54
[14:59:58] inserting chunk 55
[14:59:58] inserting chunk 56
[14:59:58] inserting chunk 57
[14:59:58] inserting chunk 58
[14:59:58] inserting chunk 59
[14:59:58] inserting chunk 60
[14:59:58] inserting chunk 61
[14:59:58] inserting chunk 62
[14:59:58] inserting chunk 63
[14:59:58] inserting chunk 64
[14:59:58] inserting chunk 65
[14:59:58] inserting chunk 66
[14:59:59] inserting chunk 67
[14:59:59] inserting chunk 68
[14:59:59] inserting chunk 69
[14:59:59] inserting chunk 70
[14:59:59] inserting chunk 71
[14:59:59] inserting chunk 72
[14:59:59] inserting chunk 73
[14:59:59] inserting chunk 74
[14:59:59] inserting chunk 75
[14:59:59] inserting chunk 76
[14:59:59] inserting chunk 77
[14:59:59] inserting chunk 78
[14:59:59] inserting chunk 79
[14:59:59] inserting chunk 80
[14:59:59] inserting chunk 81
[14:59:59] inserting chunk 82
[15:00:00] inserting chunk 83
[15:00:00] inserting chunk 84
[15:00:00] inserting chunk 85
[15:00:00] inserting chunk 86
[15:00:00] inserting chunk 87
[15:00:00] inserting chunk 88
[15:00:00] inserting chunk 89
[15:00:00] inserting chunk 90
[15:00:00] inserting chunk 91
[15:00:00] inserting chunk 92
[15:00:00] inserting chunk 93
[15:00:00] inserting chunk 94
[15:00:00] inserting chunk 95
[15:00:00] inserting chunk 96
[15:00:01] inserting chunk 97
[15:00:01] inserting chunk 98
[15:00:01] inserting chunk 99
[15:00:01] inserting chunk 100
[15:00:01] inserting chunk 101
[15:00:01] inserting chunk 102
[15:00:01] inserting chunk 103
[15:00:01] inserting chunk 104
[15:00:01] inserting chunk 105
[15:00:01] inserting chunk 106
[15:00:01] inserting chunk 107
[15:00:01] inserting chunk 108
[15:00:01] inserting chunk 109
[15:00:01] inserting chunk 110
[15:00:02] inserting chunk 111
[15:00:02] inserting chunk 112
[15:00:02] inserting chunk 113
[15:00:02] inserting chunk 114
[15:00:02] inserting chunk 115
[15:00:02] inserting chunk 116
[15:00:02] inserting chunk 117
[15:00:02] inserting chunk 118
[15:00:02] inserting chunk 119
[15:00:02] inserting chunk 120
[15:00:02] inserting chunk 121
[15:00:02] inserting chunk 122
[15:00:02] inserting chunk 123
[15:00:02] inserting chunk 124
[15:00:02] inserting chunk 125
[15:00:02] inserting chunk 126
[15:00:03] inserting chunk 127
[15:00:03] inserting chunk 128
[15:00:03] inserting chunk 129
[15:00:03] inserting chunk 130
[15:00:03] inserting chunk 131
[15:00:03] inserting chunk 132
[15:00:03] inserting chunk 133

In [60]:
cols = ['page_id','page_title','page_is_ep','noDates','medianWithinMonth','medianWithinWeek','medianInFuture',
       'mostRecentWithinWeek','mostRecentWithinMonth','mostRecentInFuture']
getSomeData = """SELECT {} FROM core INNER JOIN date_time_features USING(page_id) WHERE
                 page_batch != 99"""
Qdata = getSomeData.format(",".join(cols))
cur.execute(Qdata)
dates_df = pd.DataFrame(list(cur.fetchall()),columns=cols)

In [71]:
dataCols = ['noDates','medianWithinMonth','medianWithinWeek','medianInFuture','mostRecentWithinMonth','mostRecentWithinWeek','mostRecentInFuture']
ep_freq = dates_df[dates_df['page_is_ep'] == 1][dataCols].sum(axis=0) 
nep_freq = dates_df[dates_df['page_is_ep'] == 0][dataCols].sum(axis=0)

In [72]:
ep_freq = ep_freq / len(dates_df[dates_df['page_is_ep'] == 1])
nep_freq = nep_freq / len(dates_df[dates_df['page_is_ep'] == 0])

In [73]:
ep_freq

noDates                  0.302418
medianWithinMonth        0.002657
medianWithinWeek         0.001063
medianInFuture           0.002126
mostRecentWithinMonth    0.038134
mostRecentWithinWeek     0.016078
mostRecentInFuture       0.020330
dtype: float64

In [74]:
nep_freq

noDates                  0.413324
medianWithinMonth        0.003524
medianWithinWeek         0.002217
medianInFuture           0.001161
mostRecentWithinMonth    0.011429
mostRecentWithinWeek     0.004606
mostRecentInFuture       0.006242
dtype: float64